h1 {
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: strong;
    color: yellow;
    background: black;
    width: 100vw;
    
}
nav {
    height: 10vh;
    width: 100vw;
    display: flex;
    align-content: space-between;
    background: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.More{
    position: center;
    justify-content: flex-center;
    align-content: center;
    height: 20vh;
    border: 10px green;
}

.greenbox {
    /* height: 200px; */
    /* width: 400px; */
    display: inline-block;
    justify-content: first baseline;
    align-content: space-between;
    /* margin-left: 10px; */
    /* background-color: light green; */
    margin: 0 50px;
    padding-left: 20px;
    height: 20vh;
    width: 10vw;
    background: lightgreen;
    border-radius: 10px;
}

.orangebox {
    /* height: 200px; */
    /* width: 400px; */
    display: inline-block;
    justify-content: first baseline;
    align-content: space-between;
    /* background-color: light green; */
    margin: 0 50px;
    height: 20vh;
    width: 20vw;
    background: orange;
}

.bottom {
    width: 50vw;
    height: 30vh;
    display: inline-block;
    position: center;
    justify-content: flex-end;
    align-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 50px;
}