h1 {
    font-size: 32pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: strong;
    color: yellow;
    background: black;
    width: 100vw;
    height: 15vh;
    display: flex;
    align-content: center;
    justify-content: center;
    padding-top: 60px;
    
}
nav {
    height: 5vh;
    width: 100vw;
    display: flex;
    align-content: space-between;
    background: gray;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#More{
    position: center;
    justify-content: flex-center;
    align-content: center;
    height: 30vh;
    /* border: 10px green; */
}

#Green{
    width: 100vw;
}

.greenbox {
    /* height: 200px; */
    /* width: 400px; */
    display: inline-block;
    justify-content: first baseline;
    align-content: space-between;
    /* margin-left: 10px; */
    /* background-color: light green; */
    margin: 0 50px;
    padding-left: 20px;
    height: 20vh;
    width: 10vw;
    background: lightgreen;
    border-radius: 10px;
}

.orangebox {
    /* height: 200px; */
    /* width: 400px; */
    display: inline-block;
    justify-content: first baseline;
    align-content: space-between;
    /* background-color: light green; */
    margin: 0 50px;
    height: 20vh;
    width: 20vw;
    background: orange;
}

.MF {
    padding-top: 10px; 
    display: inline-block;
    justify-content: first baseline;
    align-content: space-between;
    /* background-color: light green; */
    margin: 0 50px;
    height: 20vh;
    width: 20vw;  
}


#bottom {
    /* display: inline-block; */
    /* flex-direction: row; */
    /* justify-content: first baseline;  */
    /* align-content: space-between; */
    /* flex-wrap: none; */
    /* flex-wrap: wrap; */
    /* height: 30vh;
    border: 1px solid red;
    align-items: baseline;
    float: left;
    margin: 0 50px; */
   
   
   
    /* width: 50vw;
    height: 30vh;*/
    /* display: flexbox; */
    /* position: center; */
    /* flex-direction: row;
    justify-content: space-evenly; */
    /* align-content: space-around; */
    /* font-family: Arial, Helvetica, sans-serif; */ */
    /* margin: 0 50px; */
    /* border: 1px red;
    font-size: 14pt;
    clear: both;
    display: table; */
}

#elephant {
    /* float: right;
    height: 600px;
    clear: right;
    margin-right: 1300px;
    align-content: space-between; */
}